{% extends 'Home.html' %}
{% block content %}
    
<!--      select your gender -->
      <div class="full">
      <div class="container">
          
          <div class=all>
              <h5>Training your data.... , It may take  60 to 70 sec</h5>

              <a href="#">start charting</a>

          </div>




      </div>
          <footer class="bg-light text-center text-lg-start mt-5">
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                        © 2022 Copyright:
            <a class="text-dark" href="https://codeajay.blogspot.com/">codeAj Production</a>
            </div>

        </footer>


      </div>
















      <script>



      </script>













 {% endblock %}