{% extends 'Home.html' %}
{% block content %}
      
      <div class="b">
      
      <div class="container">
          <div class="box">
          <form method="post" id="form_id">
              {% csrf_token %}
              <div class="form-group m-3 mu">
                <div class="input">
                    <input type="text" name="yourname" class="form-control mb-5" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Name">
                </div>
                  
                <div class="input">
                    <input type="text" name="partnername" class="form-control mb-5" id="exampleInputPassword1" placeholder="Your Partner Name">
                </div>
                  
                  
                <input type="button" id="btn"  value="SUBMIT">
                  
              </div>
              
              
              
            </form>
          </div>
          
          
      </div>
      </div>
      
      
      
      <script>
          
          
          var sub = document.getElementById('btn')
          var you_name = document.getElementById("exampleInputEmail1");
            var partner_name =  document.getElementById("exampleInputPassword1");
          
          
          
          
//          console.log(you_name)
          
            if(you_name.value==='' && partner_name.value ===''){
               you_name.style.boxShadow = "0px 0px 20px red";
                you_name.style.border = "2px solid red";
              
                partner_name.style.border = "2px solid red";
                partner_name.style.boxShadow = "0px 0px 20px red"
                sub.setAttribute('class','bt')
                
                
              
          }
          else if( you_name.value ===''){
                you_name.style.boxShadow = "0px 0px 20px red"
                you_name.style.border = "2px solid red"
                }
                
          
        else if (partner_name.value ===''){
                 partner_name.style.border = "2px solid red";
                  partner_name.style.boxShadow = "0px 0px 20px red"
                
              }
          
          else{
              alert("submitted......")
              
          }
          
          
          
          
          
          
          you_name.onkeypress = function(){
              you_name.style.border = "2px solid #08FF00"
              you_name.style.boxShadow = "0px 0px 20px #08FF00"
            if (partner_name != ""){
                sub.setAttribute('class','bt')
            }
              
              
          }
          
          partner_name.onkeypress = function(){
              partner_name.style.border = "2px solid #08FF00"
              partner_name.style.boxShadow = "0px 0px 20px #08FF00"
              if (you_name.value != "" &&   partner_name != ""){
                sub.setAttribute('class','bt1')
            }
          }
          
          
        
          
          sub.onclick=function()
          
          {
            if (you_name.value != "" &&   partner_name != ""){
                document.getElementById('form_id').submit()
                alert("submitted successfully")
            }
              
            else{
                alert("fill the form")
                if(you_name==""){
                    you_name.style.boxShadow = "0px 0px 20px red";
                    you_name.style.border = "2px solid red";
                    sub.setAttribute('class','bt')
                }
                else if (partner_name ===""){
                    partner_name.style.border = "2px solid red";
                    partner_name.style.boxShadow = "0px 0px 20px red"
                    sub.setAttribute('class','bt')
                }
                
            }
            
              
          }
            
     
          
          

          
          
          
          
          
          
          
          
          
          
          
          
          
        
        
      </script>


{%endblock%}